*{
	margin: 0;
	padding: 0;
}

body {

}

.container {
    width: 90%;
}

a {
    text-decoration: none;
}

.list-group-item {
    border: none;
}

.main {
    border-left: 3px solid rgb(207, 207, 207);
    background-color: rgb(236, 236, 236);
}

.sidebar-header {
    border-bottom: 1px solid black;
   
}

.header,
.list-group-item {
     background-color: rgb(245, 245, 245);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('image/bars-solid.svg');
}




/* sm */
@media only screen and (max-width: 500px) {
    .col-sm-12 {
        width: 100%; 
    }

    }

/* md */
@media only screen and (min-width: 500px) and (max-width: 650px) {
    .col-md-12 {
        width: 100%; 
    }

}

/* lg */
@media only screen and (min-width: 650px) and (max-width: 768px) {
    .col-lg-3 {
        width: 100%; 
    }

    .col-lg-9 {
        width: 100%;
    }
}

/* xl */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .col-xl-2 {
        width: 25%; 
    }

    .col-xl-10 {
        width: 75%;
    }
}

/* xxl */
@media only screen and (min-width: 1000px) {
    .col-xxl-2 {
        width: 20%;
    }

    .col-xxl-10 {
        width: 80%;
    }
}


