*{
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

.list-group-item {
    border: none;
}

.main {
    min-height:100vh;
    border-left: 3px solid rgb(207, 207, 207);
    background-color: rgb(236, 236, 236);
}

.navbar-toggler {
  margin-right: auto;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header,
.list-group-item {
    background-color: rgb(245, 245, 245);
    
}
.list-group-item:hover {
    background-color: #c32056;
}

.list-group-item-action.active {
    background-color: #c32056;
    color: white;
}

.text-1 {
     color: white;
}
.text-1:hover {
     color: white;
}
.text {
    color: #868686;
}
.text:hover {
    color: white;
}

.list-group a .list-group-item:hover {
     color: white;
}


.card-price-in,
.grafik-in,
.task-in {
    position: relative;
    box-shadow: 2px 2px 3px 1px #b3b3b3;
}

.leyba-price {
    position: absolute;
    top: -15px;
    
    width: 60px;
    height: 60px;
}

.grafik-img {
    position: absolute;
    top: -15px;
    
    margin-right: 15px;
    height: 140px;
}

.task-in-title {
    position: absolute;
    top: -15px;
    /* width: 95%; */
    margin-right: 15px;
    height: 55px;
}

.task-in-title-2 {
    position: absolute;
    top: -15px;
    /* width: 93%; */
    margin-right: 15px;
    height: 65px;
}

.img-mul {
    visibility: hidden;
}

/* .img-mul-2 {
    width: 20%;
}

.www {
    width: 80%;
} */


.card-1 {
    overflow: hidden;
}

.task-in-title-3 {
    position: absolute;
    top: -15px;
    /* width: 95%; */
    margin-right: 15px;
    height: 65px;
}

.profile-logo-img {
    position: absolute;
    top: -50px;
}

.leyba-price-1 {
    background-color: #448b00;
}

.leyba-price-2 {
    background-color: #d89e24;
}

.leyba-price-3{
    background-color: #274d97;
}

.leyba-price-4 {
    background-color: #c32056;
}

.title-price h3 {
    font-size: 0.55em;
}

.footer-price {
    font-size: 0.55em;
}

.kesh-price {
    font-size: 1.2em;
}



.grafik-title {
    margin-top: 7.25em;
    font-size: 1.1em;
}

.grafik-list {
    font-size: 0.75em;
}


.task {
    width: 100%;
}

.profile {
    width: 100%;
    order: 2;
}

.profile-logo {
    width: 100%;
    order: 1;
}

.tasks-1 {
    font-size: 1.15em;
}

.tasks-2 {
    font-size: 0.9em;
}

.task-in-title a,
.task {
    font-size: 0.9em;

}

.task-group span {
    font-size: 0.9em;
}

.task-hover:hover {
    background-color: #dead49;
}

.task-id {
    width: 13%;
}
.task-name {
    width: 37%;
}
.task-salary {
    width: 25%;
}
.task-country {
    width: 25%;
}

.task-group-list {
    margin-top: 3.2em;
}

.task {
    display: flex;
    align-items: stretch;
        
}

.task-in  {
     width: 100%;
}

.task-group-list-1 {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.bg-task-group-list {
    color: #65becb;
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-size: 0.65em;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color:  #616161;
}

.logo-footer-title {
    font-size: 0.85em;
    font-weight: 400;
    color:  #616161;
}


.company,
.username,
.email,
.city,
.country,
.postal,
.update {
    width: 33%;
}



.firstname,
.lastname {
    width: 50%;
}

.address,
#update {
    width: 100%;
}

#update {
    height: 30px;
    background-color: #c32056;
    color: white;
    border: none;
}



#company,
#username,
#email,
#lastname,
#firstname,
#address,
#postal,
#country,
#city,
#textareas {
    width: 100%;
}

input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 1px solid #6e6e6e;
    height: 30px;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
   
    outline: 0 !important;
    border: none;
    border-bottom: 2px solid #c32056;
    /* box-shadow: 0px 1px 1px #c32056; */
    
}

.form-group {
    font-size: 0.65em;
}

.profile-title-list {
    font-size: 0.75em;
   
}

.profile-title-name {
    font-size: 1em;
    font-weight: bold;
}

.profile-title-item {
    font-size: 0.8em;
    
}

.profile-logo-img img {
    box-shadow: 2px 2px 3px 1px #b3b3b3;
    border-radius: 50%;
}



.checkone-in input[type="checkbox"],
.checkone-out input[type="checkbox"],
.checktwo-in input[type="checkbox"],
.checktwo-out input[type="checkbox"],
.checkthree-in input[type="checkbox"],
.checkthree-out input[type="checkbox"],
.checkfho-in input[type="checkbox"],
.checkfho-out input[type="checkbox"]  {
	display: none;
}

.checkone-in label[for="checkone-in"],
.checkone-out label[for="checkone-out"],
.checktwo-in label[for="checktwo-in"],
.checktwo-out label[for="checktwo-out"],
.checkthree-in label[for="checkthree-in"],
.checkthree-out label[for="checkthree-out"],
.checkfho-in label[for="checkfho-in"],
.checkfho-out label[for="checkfho-out"] {
	display: inline-block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	position: relative;
	border: 1px solid rgb(80, 80, 80);
}

.checkone-in label[for="checkone-in"]:before,
.checktwo-in label[for="checktwo-in"]:before,
.checkthree-in label[for="checkthree-in"]:before,
.checkfho-in label[for="checkfho-in"]:before {
   
    content: "";
    background-image: url('image/edit.png');
    background-size: 17px;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 17px;
	height: 17px;
}

.checkone-out label[for="checkone-out"]:before,
.checktwo-out label[for="checktwo-out"]:before,
.checkthree-out label[for="checkthree-out"]:before,
.checkfho-out label[for="checkfho-out"]:before {
    
    content: "";
    background-image: url('image/remove.png');
    background-size: 17px;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 17px;
	height: 17px;
}

.checkone-in input[type="checkbox"]:checked + label[for="checkone-in"],
.checkone-out input[type="checkbox"]:checked + label[for="checkone-out"],
.checktwo-in input[type="checkbox"]:checked + label[for="checktwo-in"],
.checktwo-out input[type="checkbox"]:checked + label[for="checktwo-out"],
.checkthree-in input[type="checkbox"]:checked + label[for="checkthree-in"],
.checkthree-out input[type="checkbox"]:checked + label[for="checkthree-out"],
.checkfho-in input[type="checkbox"]:checked + label[for="checkfho-in"],
.checkfho-out input[type="checkbox"]:checked + label[for="checkfho-out"] {
	border: 1px solid rgb(80, 80, 80);
}

.checkone-in input[type="checkbox"]:checked + label[for="checkone-in"]:before,
.checkone-out input[type="checkbox"]:checked + label[for="checkone-out"]:before,
.checktwo-in input[type="checkbox"]:checked + label[for="checktwo-in"]:before,
.checktwo-out input[type="checkbox"]:checked + label[for="checktwo-out"]:before,
.checkthree-in input[type="checkbox"]:checked + label[for="checkthree-in"]:before,
.checkthree-out input[type="checkbox"]:checked + label[for="checkthree-out"]:before,
.checkfho-in input[type="checkbox"]:checked + label[for="checkfho-in"]:before,
.checkfho-out input[type="checkbox"]:checked + label[for="checkfho-out"]:before {
	display: none;
}



/* sm */
@media only screen and (max-width: 400px) { 
    .problem {
        margin-right: .2em!important;
        
    }
    .problem-list {
        padding: 0.5em!important;
    }
}

@media only screen and (max-width: 500px) {
    .main {
        width: 100%; 
    }
    
    .col-sm-12 {
        width: 100%; 
    }
    .card-price {
        width: 100%;
    }
    .grafik {
        width: 100%;
    }
    .grafik-img {
        
        height: 200px;
    }
    .grafik-title {
        margin-top: 10em;
    }
    .grafik-img-list {
        height: 160px;
    }
    .sidebar-header {
    position: absolute;
    top: -5px;
    left: 30px;
    }
    .footer {
        flex-direction: column;
    }
    .navbar-nav {
        width: 50%;
        flex-direction: column;
    }
    .logo-footer {
        width: 100%;
        margin-top: 3em;
    }
    .update {
        width: 100%;
    }
    .card-1 {
        font-size: 0.75em;
        margin:0;
        padding: 0;
       
    }
}

/* md */
@media only screen and (min-width: 500px) and (max-width: 650px) {
    .col-md-12 {
        width: 100%; 
    }
    .card-price {
        width: 50%;
    }
    .grafik {
        width: 100%;
    }
    .grafik-img {
       
        height: 220px;
    }
    .grafik-title {
        margin-top: 11em;
    }
    .grafik-img-list {
        height: 180px;
    }
    .task-in-title,
    .task-in-title-2 {
        width: 94%;
    }
    .sidebar-header {
    position: absolute;
    top: -5px;
    left: 30px;
    
    }
}

/* lg */
@media only screen and (min-width: 650px) and (max-width: 768px) {
    .col-lg-3 {
        width: 100%; 
    }
    .col-lg-9 {
        width: 100%;
    }
    .card-price {
        width: 50%;
    }
    .grafik {
        width: 33.3333%;
    }
    .task-in-title,
    .task-in-title-2 {
        width: 95%;
    }
    .sidebar-header {
    position: absolute;
    top: -5px;
    left: 30px;
    
}
    
}

/* xl */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .col-xl-2 {
        width: 25%; 
    }
    .col-xl-10 {
        width: 75%;
    }
    .card-price {
        width: 50%;
    }
    .grafik {
        display: flex;
        align-items: stretch;
        width: 33.3333%;
    }
    .grafik-img {
        height: 90px;
    }
    .grafik-img-list {
        height: 60px;
        width: 77%;
    }
    .grafik-title {
        margin-top: 4em;
    }
    .task-in-title,
    .task-in-title-2 {
        width: 95%;
    }
    .sidebar-header {
    border-bottom: 1px solid black;
    }
     
}

/* xxl */
@media only screen and (min-width: 1000px) {
    .col-xxl-2 {
        width: 20%;
    }
    .col-xxl-10 {
        width: 80%;
    }
    .card-price {
        width: 25%;
    }
    .grafik {
        width: 33.3333%;
    }
    .task {
        width: 50%;
    }
    .profile {
    width: 66%;
    order: 1;
    }
    .profile-logo {
    width: 33%;
    order: 2;
    }
    .sidebar-header {
    border-bottom: 1px solid black;
    }
}


